<div class="container">
  <h1> Mes costumes</h1>

      <div class="container">
          <div class="cards">
            <% current_user.costumes.each do |costume| %>
              <%= link_to costume_path(costume) do %>
                <% if costume.photos.attached? %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=cl_image_path costume.photos.first.key%>')">
                    <%=costume.name%>
                </div>
                  <% else %>
                <div>
                <%= %>
                <%= costume.name%>
                </div>
              <% end %>
                <% end %>
            <% end %>
          </div>
      </div>


  <div class="container">
      <% current_user.bookings.each do |booking| %>
      <div class="notification">
      <%= image_tag "https://www.vanityfair.fr/uploads/images/thumbs/201627/f0/marie_antoinette_slid_vf_5435.jpeg_north_375x310_transparent.jpg", class: "avatar-large"%>
    <div class="notification-content">
      <p> <small> <%= booking.costume.user.email %> </small></p>
      <p> <%= booking.costume.user.email %> aimerait louer votre <%=booking.costume.name%> du <%=booking.beginning_date%> au <%=booking.ending_date%>.</p>
      <p>Souhaitez-vous accepter ou refuser sa demande?</p>
    </div> 
      <div class="notification-actions">
        <%= link_to "✔️", "#", class: "btn btn-ghost" %> 
        <%= link_to "❌", booking_path(booking), method: :delete, data: {confirm: "Etes-vous sûr de vouloir supprimer cette réservation?"}, class: "btn btn-ghost" %>
      </div>
    </div>

    <% end %>
  </div>

</div>
