<div class="container">
  <div class="container-new">
    <h3>Ajouter un nouveau costume</h3>

    <%= simple_form_for(@costume) do |f| %>
      <%= f.input :name, label: 'Nom du costume'%>
      <%= f.input :description, as: :text %>
      <%= f.input :year, label: 'Date du costume'%>
      <%= f.input :price, label: 'Prix de location'%>
      <%= f.input :category, label: 'Catégories possibles', :collection => 
      ["Renaissance", "Antiquite & Moyen-Age", "XVIIesiecle", "XVIIIesiecle", "XIXesiecle", "XXesiecle", "Contemporain", "Uniformes"]
      %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
       <%= f.button :submit, "Ajouter", class: 'btn btn-ghost'%>
    <% end %>
  </div>
</div>
