<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
   <h2>Apparat</h2>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <% if policy(Costume).create? %>
        <%= link_to "Ajouter un costume", new_costume_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "Mes costumes", costumes_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://www.vanityfair.fr/uploads/images/thumbs/201627/f0/marie_antoinette_slid_vf_5435.jpeg_north_375x310_transparent.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Connexion", user_session_path, class: "dropdown-item" %>
          <%= link_to "Mes costumes", costumes_path, class: "dropdown-item" %>
          <%= link_to "Mes réservations", dashboard_path, class: "dropdown-item" %>
          <%= link_to "Déconnexion", destroy_user_session_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
