<div class="wrap">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="position: relative;">
        <img class="d-block w-100" src="https://cdn-s-www.ledauphine.com/images/2BBA012B-4D36-4E8F-95EE-F7FCB0C43031/NW_raw/photo-ludovic-marin-afp-1529824277.jpg" alt="First slide">
        <div class="overlay"></div>
      </div>
      <div class="carousel-item" style="position: relative;">
        <img class="d-block w-100" src="https://agence-wato.com/wp-content/uploads/2014/12/coiffes-plumes-banquet-venitien-costumes-venise-masques-voutes-canal-saint-martin-insolite-secret-tournage-teaser-video-venise-sous-paris-agence-wato-we-are-the-oracle-evenementiel.jpg" alt="Second slide">
        <div class="overlay"></div>
      </div>
      <div class="carousel-item" style="position: relative;">
        <img class="d-block w-100" src="https://agence-wato.com/wp-content/uploads/2016/11/16-Campari-Secret-Factory.jpg" alt="Third slide">
        <div class="overlay"></div>
      </div>
    </div>
  </div>

  <div class="titre-search" style= "text-align: center;">
    <p><strong>Costumez-vous et entrez dans l'histoire !</strong></p>
    <%= form_tag costumes_path, method: :get do %>
      <div class="input-group rounded">
        <%= text_field_tag :query, params[:query], class: "form-control rounded", placeholder: "Effectuez une recherche de costume" %>
          <%= button_tag :submit, class: "input-group-text border-0", id: "search-addon" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

  <div class="card-container">
    <div class="container">
      <div class="title-home" style="text-align: left;">
        <h1>Quelle époque sera la votre ?</h1>
        <p>D’année en année, Apparat tente de vous faire voyager au fil des époques par une selection de costumes varié regroupant costumes anciens, vêtements vintage et créations de d’Atelier.</p>
      </div>
      <div class="cards">
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTgvMDIvMDkvMTZfMzhfMzRfNDA5X1hWSUlJZV8xOGVfVmVyc2FpbGxlX0NvdXJfUm9iZV9mcmFuY2Fpc2VfdmVydHVnYWRpbnNfbG9jYXRpb25fY29zdHVtZV9wYXJpc18wNC5qcGciXSxbInAiLCJ0aHVtYiIsIjQ4MHg3MjAjIl1d/XVIIIe-18e-Versaille-Cour-Robe-francaise-vertugadins-location-costume-paris-04.jpg)">
          Marie-Antoinette
        </div>
        <% end %>
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTYvMTEvMzAvMTZfNTBfMDZfOTA4X0Nvc3R1bWVfaG9tbWVfWFZJSUlfbG9jYXRpb25fYmxhbmNfYW1iYXNzYWRldXJfbG9jYXRpb25fYXRlbGllcl8wMS5qcGciXSxbInAiLCJ0aHVtYiIsIjQ4MHg3MjAjIl1d/Costume-homme%20XVIII-location-blanc-ambassadeur-location-atelier-01.jpg)">
          Richelieu
        </div>
        <% end %>
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTkvMDEvMjMvMThfMDJfMDJfNjE5XzE4dGhfWFZJSUllX21hcnF1aXNlX2Jhcm9xdWVfYmFsX3ZlcnNhaWxsZV9mZV90ZXNfZ2FsYW50ZXNfZHVjaGVzc2VfZW1lcmF1ZGVfdmVydHVnYWRpbnNfbG9jYXRpb25fY29zdHVtZV9wYXJpc18wMS5qcGciXSxbInAiLCJ0aHVtYiIsIjQ4MHg3MjAjIl1d/18th-XVIIIe-marquise-baroque-bal-versaille-fe%CC%82tes-galantes-duchesse-emeraude-vertugadins-location-costume-paris-01.jpg)">
          Pompadour
        </div>
        <% end %>
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTgvMDEvMTEvMTBfNTVfMjBfMTA3X1hWSUlJZV9CbGFja19DaHJpc3RvcGhlXzAzLmpwZyJdLFsicCIsInRodW1iIiwiNDgweDcyMCMiXV0/XVIIIe-Black-Christophe-03.jpg)">
          louis XVI
        </div>
        <% end %>
    </div>
    <%= link_to "Voir tous les costumes", costumes_path, class: "special_arrow" %>
  </div>
</div>

