<div class="wrap">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="position: relative;">
        <img class="d-block w-100" src="https://cdn-s-www.ledauphine.com/images/2BBA012B-4D36-4E8F-95EE-F7FCB0C43031/NW_raw/photo-ludovic-marin-afp-1529824277.jpg" alt="First slide">
        <div class="overlay"></div>
      </div>
      <div class="carousel-item" style="position: relative;">
        <img class="d-block w-100" src="https://agence-wato.com/wp-content/uploads/2014/12/coiffes-plumes-banquet-venitien-costumes-venise-masques-voutes-canal-saint-martin-insolite-secret-tournage-teaser-video-venise-sous-paris-agence-wato-we-are-the-oracle-evenementiel.jpg" alt="Second slide">
        <div class="overlay"></div>
      </div>
      <div class="carousel-item" style="position: relative;">
        <img class="d-block w-100" src="https://agence-wato.com/wp-content/uploads/2016/11/16-Campari-Secret-Factory.jpg" alt="Third slide">
        <div class="overlay"></div>
      </div>
    </div>
  </div>

  <div class="titre-search" style= "text-align: center;">
    <p><strong>Costumez-vous et entrez dans l'histoire !</strong></p>
    <%= form_tag costumes_path, method: :get do %>
      <div class="input-group rounded">
        <%= text_field_tag :query, params[:query], class: "form-control rounded", placeholder: "Effectuez une recherche de costume" %>
          <%= button_tag :submit, class: "input-group-text border-0", id: "search-addon" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

  <div class="card-container">
    <div class="container">
      <div class="title-home" style="text-align: left;">
        <h1>Quelle époque sera la vôtre ?</h1>
        <p>D’année en année, Apparat tente de vous faire voyager au fil des époques par une sélection de costumes variés regroupant costumes anciens, vêtements vintage et créations d'ateliers.</p>
      </div>
      <div class="cards">
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTMvMTEvMDUvMTBfMDNfMDNfN19HcmVjc19hbnRpcXVlX2FybXVyZV9jb3N0dW1lc19sb2NhdGlvbl92ZXJ0dWdhZGluc18wMS5qcGciXSxbInAiLCJ0aHVtYiIsIjQ4MHg3MjAjIl1d/Grecs-antique-armure-costumes-location-vertugadins-01.jpg)">
          Antiquité
        </div>
        <% end %>
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTQvMDEvMDIvMTZfNDdfMTRfMzQ2X2Nvc3R1bWVfdmVydHVnYWRpbnNfcmVuYWlzc2FuY2VfbG9jYXRpb25fMDEuanBlZyJdLFsicCIsInRodW1iIiwiNDgweDcyMCMiXV0/costume-vertugadins-renaissance-location-01.jpeg)">
          Renaissance
        </div>
        <% end %>
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTkvMDcvMzAvMTJfMTFfNTdfMjkyX1hWSUlJX0Rpc2NvX1BvbG9fMDIuanBnIl0sWyJwIiwidGh1bWIiLCI0ODB4NzIwIyJdXQ/XVIII-Disco-Polo-02.jpg)">
         louis XVI
        </div>
        <% end %>
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTMvMTIvMTkvMTVfNDNfMTZfNTU0X3JvYmVfbWVkaWV2YWxfY29zdHVtZV9sb2NhdGlvbl92ZXJ0dWdhZGluc18wNS5qcGVnIl0sWyJwIiwidGh1bWIiLCI0ODB4NzIwIyJdXQ/robe-medieval-costume-location-vertugadins-05.jpeg)">
          Moyen age
        </div>
        <% end %>
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTgvMDEvMTEvMTBfNDVfNTJfOTcxX1hWSUlJZV8xOGVfdmVyc2FpbGxlc19Mb3Vpc19YVklfdmVydHVnYWRpbnNfbG9jYXRpb25fY29zdHVtZV9wYXJpc18wMy5qcGciXSxbInAiLCJ0aHVtYiIsIjQ4MHg3MjAjIl1d/XVIIIe-18e-versailles-Louis-XVI-vertugadins-location-costume-paris-03.jpg)">
          XVIIe Siècle
        </div>
        <% end %>

        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTkvMDEvMjMvMThfMDJfMDJfNjE5XzE4dGhfWFZJSUllX21hcnF1aXNlX2Jhcm9xdWVfYmFsX3ZlcnNhaWxsZV9mZV90ZXNfZ2FsYW50ZXNfZHVjaGVzc2VfZW1lcmF1ZGVfdmVydHVnYWRpbnNfbG9jYXRpb25fY29zdHVtZV9wYXJpc18wMS5qcGciXSxbInAiLCJ0aHVtYiIsIjQ4MHg3MjAjIl1d/18th-XVIIIe-marquise-baroque-bal-versaille-fe%CC%82tes-galantes-duchesse-emeraude-vertugadins-location-costume-paris-01.jpg)">
          XVIIIe Siècle
        </div>
        <% end %>
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTUvMTAvMjkvMTdfMDVfMjhfOTIxX0NyaW5vbGluZV9yb2JlX2JhbF9zZWNvbmRfZW1waXJlX3NjYXJsZXRfbG9jYXRpb25fY29zdHVtZV9wYXJpc18wMi5qcGciXSxbInAiLCJ0aHVtYiIsIjQ4MHg3MjAjIl1d/Crinoline-robe-bal-second-empire-scarlet-location-costume-paris-02.jpg)">
          XIXe Siècle
        </div>
        <% end %>
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTkvMDcvMzAvMTFfMjlfMzdfOTk3X0ltcHJlc3Npb25pc3RlX0xvaWNfMDEuanBnIl0sWyJwIiwidGh1bWIiLCI0ODB4NzIwIyJdXQ/Impressioniste-Loic-01.jpg)">
          1900 - 1920
        </div>
        <% end %>
        <%= link_to costumes_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTUvMTEvMDYvMTVfNThfMDZfOTE0X0J1cnRvbl9NYXJ0aWFuX2dpcmxfbG9jYXRpb25fY29zdHVtZV9xdWFsaXRlX3ZlcnR1Z2FkaW5zXzAxLmpwZyJdLFsicCIsInRodW1iIiwiNDgweDcyMCMiXV0/Burton-Martian-girl-location-costume-qualite-vertugadins-01.jpg)">
          XXe Siècle
        </div>
        <% end %>


      </div >
      <%= link_to "Voir tous les costumes", costumes_path, class: "arrow" %>
  </div>
</div>

