<div class="wrap">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="position: relative;">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1610843191582-4fe41642df10?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80)" alt="First slide">
        <div class="overlay"></div>
      </div>
      <div class="carousel-item" style="position: relative;">
        <img class="d-block w-100" src="https://agence-wato.com/wp-content/uploads/2014/12/puit-de-lumi%C3%A8re-gondole-paris-costumes-venise-masques-voutes-canal-saint-martin-insolite-secret-tournage-teaser-video-venise-sous-paris-agence-wato-we-are-the-oracle-evenementiel.jpg" alt="Second slide">
        <div class="overlay"></div>
      </div>
      <div class="carousel-item" style="position: relative;">
        <img class="d-block w-100" src="https://www.chateauversailles.fr/sites/default/files/inv.dess_687.jpg" alt="Third slide">
        <div class="overlay"></div>
      </div>
    </div>

  </div>
  <div style="text-align: center;">
    <p><strong>Vivez l'expérience en costume d'époque !</strong></p>
    <%= link_to "Nos costumes", costumes_path, class: "btn btn-flat carousel_link" %>
  </div>
</div>

<!-- <div class="titre-search">
  <p><strong>Vivez l'expérience en costume d'époque !</strong></p>
  <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Effectuez une recherche de costume" aria-label="Search"
      aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div> -->
  <div class="card-container">
    <div class="container">
    <div class="cards">
      <%= link_to costumes_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTgvMDIvMDkvMTZfMzhfMzRfNDA5X1hWSUlJZV8xOGVfVmVyc2FpbGxlX0NvdXJfUm9iZV9mcmFuY2Fpc2VfdmVydHVnYWRpbnNfbG9jYXRpb25fY29zdHVtZV9wYXJpc18wNC5qcGciXSxbInAiLCJ0aHVtYiIsIjQ4MHg3MjAjIl1d/XVIIIe-18e-Versaille-Cour-Robe-francaise-vertugadins-location-costume-paris-04.jpg)">
        Marie-Antoinette
      </div>
      <% end %>
      <%= link_to costumes_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTYvMTEvMzAvMTZfNTBfMDZfOTA4X0Nvc3R1bWVfaG9tbWVfWFZJSUlfbG9jYXRpb25fYmxhbmNfYW1iYXNzYWRldXJfbG9jYXRpb25fYXRlbGllcl8wMS5qcGciXSxbInAiLCJ0aHVtYiIsIjQ4MHg3MjAjIl1d/Costume-homme%20XVIII-location-blanc-ambassadeur-location-atelier-01.jpg)">
        Richelieu
      </div>
      <% end %>
      <%= link_to costumes_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTkvMDEvMjMvMThfMDJfMDJfNjE5XzE4dGhfWFZJSUllX21hcnF1aXNlX2Jhcm9xdWVfYmFsX3ZlcnNhaWxsZV9mZV90ZXNfZ2FsYW50ZXNfZHVjaGVzc2VfZW1lcmF1ZGVfdmVydHVnYWRpbnNfbG9jYXRpb25fY29zdHVtZV9wYXJpc18wMS5qcGciXSxbInAiLCJ0aHVtYiIsIjQ4MHg3MjAjIl1d/18th-XVIIIe-marquise-baroque-bal-versaille-fe%CC%82tes-galantes-duchesse-emeraude-vertugadins-location-costume-paris-01.jpg)">
        Pompadour
      </div>
      <% end %>
      <%= link_to costumes_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.vertugadins.com/system/images/W1siZiIsIjIwMTgvMDEvMTEvMTBfNTVfMjBfMTA3X1hWSUlJZV9CbGFja19DaHJpc3RvcGhlXzAzLmpwZyJdLFsicCIsInRodW1iIiwiNDgweDcyMCMiXV0/XVIIIe-Black-Christophe-03.jpg)">
        louis XVI
      </div>
      <% end %>
  </div>
  </div>
</div>
</div>
